<% javascript 'layouts/form.js', 'layouts/sources.js' %>


<header>
	<div class="left">
		<div class="etiquette">Question</div>
		<div class="date">
			<span class="day"><%= Time.now.strftime("%d") %></span>
			<span class="month"><%= getMonthFromNumber(Time.now.strftime("%m")) %></span>
			</br>
			<span class="year"><%= Time.now.strftime("%Y") %></span>
		</div>
	</div>
	<div class="right">
		<div class="written_by"><span>écrit par</span> <%= (@question.user.email if @question.user) || current_user.email %></div>
		
		<%= render "layouts/presentation_picture_form", :parent_object => @question %>
		
		<%= simple_form_for(@question, :validate => true) do |f| %>
		<%= f.input :presentation_picture_id, :label => false, :as => :hidden, :input_html => {:id => "presentation_picture_id", :value => @presentation_picture.id } %>
		<%= f.input :presentation_picture_text, :label => false, :as => :hidden, :input_html => {:id => "presentation_picture_text_record", :value => @question.presentation_picture_text  } %>
		
		<fieldset class="title">
			<label>Titre*</label>
			<div>
				<%= f.input :title, :label => false, :wrapper => false, :input_html => {:class => "char_count", 'original-title' => "100 caractères maximum"} %>
				<span class="counter"></span>
			</div>
		</fieldset>
		
		<fieldset>
			<label>Description*</label>
			<div>
				<%= f.input :content, :label => false, :wrapper => false, :input_html => {'original-title' => "Ajoutez ici des détails à votre question"} %>
			</div>
		</fieldset>
		
		<%= render 'layouts/sources_form', :f => f, :model_var => @question %>
		
		<%= render 'categories/category_list_checkboxes', :f => f %>
		
		<%= f.button :submit %>
	</div>
	
</header>

	
    
<% end %>


