<div id="show_left">
	<article id="question" class="show">
		<header>
			<div class="left">
				<div class="etiquette"><%= link_to "Question", questions_path %></div>
				<div class="date">
					<span class="day"><%= @question.created_at.strftime("%d") %></span>
					<span class="month"><%= getMonthFromNumber(@question.created_at.strftime("%m")) %></span>
					</br>
					<span class="year"><%= @question.created_at.strftime("%Y") %></span>
				</div>
			</div>
			<div class="right" style='width:30em'>
				<h1><%= @question.title %></h1>
				<div class="written_by"><span>écrit par</span> <%= link_to(@user.display_name, show_user_profile_path(@user)) %></div>
				<div class="categories">Catégories:
					<span><%= @categories.map{|c| (link_to c.name, category_path(c.name.downcase) )}.join(', ').html_safe %></span>
				</div>
				<%= link_to 'Edit', edit_question_path(@question) %>
			</div>
			<div id="small_picture">
				<%= image_tag "/images/post_picture_missing.png" %>
			</div>
			
		</header>
		<%= render 'layouts/share_buttons_show_top' %>
		<div id="left_bar">
			<div id="share">
				<%= render 'layouts/share_buttons', :voteable => @question %>
			</div>
		</div>
	
		<div id="content_wrap">
		<h1>Plus de détails sur la question:</h1>
		  <%= simple_format(h @question.content) %>
	
			<div class="horizontal_rule_questions"></div>
			<%= render 'layouts/about_author' %>
			<div class="horizontal_rule_questions"></div>
			

	
		</div>
		<% if @question.source %>
		Sources:
		<ul>		
			<%= @question.sources.html_safe %>
		</ul>
		<% end %>
	</article>
	<h1 class="red_section big">Les <span>RÉPONSES</span></h1>
	<section id="answers">

	<% @answers.each do |answer| %>
		<article class="answer" id="answer_<%= answer.id %>">
			<div class="answer_content">
				<header>
					<div id="answer_vote" style="display: inline-block; vertical-align: top;width:5em;">
						<span class="answer_vote_up">
							<%= link_to(image_tag("/images/thumbs_up_answer.png", :width => "25px", :height => "24px"), vote_up_question_answer_path(@question, answer), :method => :post, :remote => true) %>
						</span>|
						<span class="anwser_vote_down">
							<%= link_to(image_tag("/images/thumbs_down_answer.png", :width => "25px", :height => "24px"), vote_down_question_answer_path(@question, answer), :method => :post, :remote => true) %>
						</span>
						<span class="answer_votes_result ">
							<%= @answer_votes_result || answer.plusminus %>
						</span>
					</div>
					<div class="author_answer_name" style="display: inline-block; vertical-align: top;"><%= "#{answer.user.email}, le #{answer.created_at.strftime("%e")} #{getMonthFromNumber(answer.created_at.strftime("%m"))} #{answer.created_at.strftime("%Y")}" %></div>
				</header>
				
				<div class="answer_body" style="display: inline-block; vertical-align: top;"><%= simple_format(h answer.content) %></div>
			</div>
			<%= content_tag(:div, content_tag(:img, "", :src => "/images/default_user_image.jpg", :class => "avatar"), :class => "author_answer_image") %>
		</article>
	<% end %>
	</section>
	
	<%= simple_form_for([@question, @answer]) do |f| %>
	  <%= f.error_notification %>

	  <div class="inputs">
	    <%= f.input :content %>
	  </div>

	  <div class="actions">
	    <%= f.button :submit %>
	  </div>
	<% end %>
	
</div>

<%= render :partial => "layouts/also_to_read" %>