<h2>Sign in</h2>

<div class="fancy_flash_messages">
	<%= render "layouts/flash_messages"%>
</div>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :remote => true, :validate => true) do |f| %>
<div class="inputs">
	<%#= f.input :email %>
	<%= f.input :email, :validate => {:uniqueness => false} %>
</div>

<div class="inputs">
	<%#= f.input :password %>
	<%= f.input :password, :validate => {:confirmation => false, :length => false} %>	
</div>



  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <%= f.hidden_field :post_id %>
  <%= f.hidden_field :root_comment_id %>
  <%= f.hidden_field :action %>
  <%= f.hidden_field :displayed_comments %>
  <%= f.hidden_field :displayed_posts %>

	<%= f.hidden_field :stored_comment_title %>
	<%= f.hidden_field :stored_comment_body %>
	<%= f.hidden_field :stored_reply_title %>
	<%= f.hidden_field :stored_reply_body %>
	<%= f.hidden_field :reply_parent_id %>
	<%= f.hidden_field :scroll_position %>

 	<div class="action">
	<%= f.button :submit, "Se connecter" %>
	</div>
<% end %>

<%= render :partial => "devise/shared/links" %>