<% javascript 'layouts/form.js', 'layouts/sources.js', 'product_tests/advantages.js', 'product_tests/drawbacks.js' %>

<header>
	<div class="left">
		<div class="etiquette">Test</div>
		<div class="date">
			<span class="day"><%= Time.now.strftime("%d") %></span>
			<span class="month"><%= getMonthFromNumber(Time.now.strftime("%m")) %></span>
			</br>
			<span class="year"><%= Time.now.strftime("%Y") %></span>
		</div>
	</div>
	<div class="right">
		<div class="written_by"><span>écrit par</span> <%= (@product_test.user.email if @product_test.user) || current_user.email %></div>
		<%= render "layouts/presentation_picture_form" %>

		<%= simple_form_for(@product_test, :validate => true, :html => { :multipart => true }) do |f| %>
		<%= f.input :presentation_picture_id, :label => false, :input_html => {:id => "presentation_picture_id", :value => (@product_test.presentation_picture.id if !@product_test.presentation_picture.blank?) } %>
		
		<fieldset>
			<label>Marque</label>
			<div>
				<%= f.input :brand, :label => false, :wrapper => false, :input_html => {:class => "char_count", 'original-title' => "50 caractères maximum"} %>
				<span class="counter"></span>
			</div>
		</fieldset>
		
		<fieldset>
			<label>Modèle*</label>
			<div>
				<%= f.input :product_model, :label => false, :wrapper => false, :input_html => {:class => "char_count", 'original-title' => "80 caractères maximum"} %>
				<span class="counter"></span>
			</div>
		</fieldset>
		
		<fieldset>
			<label>Référence</label>
			<div>
				<%= f.input :product_ref, :label => false, :wrapper => false, :input_html => {'original-title' => "La référence peut être un code, une série de caractères, que l'on trouve sur l'étiquette du produit"} %>
			</div>
		</fieldset>
		
		<fieldset>
			<label>Description du produit</label>
			<div>
				<%= f.input :description, :label => false, :wrapper => false, :input_html => {'original-title' => "Donnez ici VOTRE description du produit. Changeons.org ne peut être tenu responsable si vous utilisez des informations dont la publication n'est pas autorisée par son propriétaire. En deux mots, ne copiez pas la description du produit à partir d'un site marchand par exemple :)"} %>
			</div>
		</fieldset>
		
		<fieldset>
			<label>Prix recommandé</label>
			<div>
				<%= f.input :recommended_price, :label => false, :wrapper => false, :input_html => {'original-title' => "Indiquez ici le prix de vente du produit"} %> €
			</div>
		</fieldset>
		
		<fieldset>
			<label>Note attribuée</label>
			<div>
				<%= f.input :mark, :label => false, :wrapper => false, :input_html => {'original-title' => "De 0 à 5"} %>
			</div>
		</fieldset>
		
		<fieldset>
			<label>Opinion</label>
			<div>
				<%= f.input :opinion, :label => false, :wrapper => false, :input_html => {'original-title' => "Ne mâchez pas vos mots ! On veut savoir la vérité :)"} %>
			</div>
		</fieldset>
		
		<fieldset id="advantages">
			<label>Avantages</label>
			<div id="advantage_form_field">
				<%= f.input :advantage, :label => false, :wrapper => false, :input_html => {'original-title' => "Veuillez écrire, ici, l'avantage que vous souhaitez ajouter et cliquez sur \"Ajouter un avantage\""} %>
			</div>
			<div id="advantage_buttons">
				<%= link_to("Ajouter un avantage", "", :remote => true, :id => "add_advantage_button") %>
			</div>
			<div>
				Prévisualisation des avantages
				</br>
				<ul id="advantages_preview">
					<% if !@product_test.advantages.blank? %>
						<%= @product_test.advantages.html_safe %>
					<% end %>
				</ul>
			</div>
			<%= f.input :advantages, :label => false, :wrapper => false, :input_html => {:class => "", :style => "display: none;"} %>
		</fieldset>
		
		<fieldset id="drawbacks">
			<label>Inconvénients</label>
			<div id="drawback_form_field">
				<%= f.input :drawback, :label => false, :wrapper => false, :input_html => {'original-title' => "Veuillez écrire, ici, l'inconvénient que vous souhaitez ajouter et cliquez sur \"Ajouter un inconvénient\""} %>
			</div>
			<div id="drawback_buttons">
				<%= link_to("Ajouter un inconvénient", "", :remote => true, :id => "add_drawback_button") %>
			</div>
			<div>
				Prévisualisation des inconvénients
				</br>
				<ul id="drawbacks_preview">
					<% if !@product_test.drawbacks.blank? %>
						<%= @product_test.drawbacks.html_safe %>
					<% end %>
				</ul>
			</div>
			<%= f.input :drawbacks, :label => false, :wrapper => false, :input_html => {:class => "", :style => "display: none;"} %>
		</fieldset>
		
		<%= render 'layouts/sources_form', :f => f, :model_var => @product_test %>
		
		<%= render 'categories/category_list_checkboxes', :f => f %>
		
		<%= f.button :submit %>
	</div>
	
</header>
	
    
<% end %>
