<% @product_tests.each do |product_test| %>
<article id="product_test_<%= product_test.id %>">
	<div class="horizontal_rule_product_tests"></div>
	<div class="left">
		<div class="image"><%= image_tag product_test.picture.url(:thumb) %></div>
		<div class="date"><span class="day"><%= product_test.created_at.strftime("%d") %></span><span class="month"><%= getMonthFromNumber(product_test.created_at.strftime("%m")) %></span></br><span class="year"><%= product_test.created_at.strftime("%Y") %></span></div>
	</div>
	<div class="content">
		<header>
	    	<h1><%= "#{product_test.brand || "Marque non détaillée"} #{product_test.product_model}" %></h1>
			<span>écrit par</span> <%= product_test.user.email %>
		</header>
	    <div class="description"><%= raw(product_test.description) %></div>
	    <%= link_to 'Voir', product_test %>
	    <% if can? :edit, product_test %><%= link_to '| Éditer', edit_product_test_path(product_test) %><% end %>
	    <% if can? :destroy, product_test %><%= link_to '| Supprimer', product_test, :confirm => 'Are you sure?', :method => :delete %><% end %>
	</div>
</article>
<% end %>