<h2>Sign up</h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true) do |f| %>
  <%= devise_error_messages! %>

<%= f.input :display_name, :label => true, :wrapper => true %>

<%= f.email :email, :label => true, :wrapper => true %>

<%= f.password :password, :label => true, :wrapper => true %>	

<%= f.password :password_confirmation, :label => true, :wrapper => true %>

<%= f.input :real_name, :label => true, :wrapper => true %>

<%= f.input :website, :label => true, :wrapper => true %>

<%= f.input :location, :label => true, :wrapper => true %>

<%= f.input :birthday, :label => true, :wrapper => true %>

<%= f.input :about_me, :label => true, :wrapper => true %>

<%= f.button :submit %>
<% end %>

<%= render :partial => "devise/shared/links" %>
