<%= simple_form_for(@comment, :as => "comment",:url => create_comment_path(commentable_class, commentable), :remote => true, :validate => (current_user ? true : false)) do |f| %>
<h1>Écrivez un nouveau commentaire</h1>

<div class="left">
	
	<fieldset>
	<%= f.input :title, :label => false %>
	</fieldset>
	
	<fieldset>
	<%= f.input :body, :label => false %>
	</fieldset>
	
	<%= f.check_box :send_notification_to_root_comment, :validate => true %><%= f.label "M'envoyer une notification lorsque quelqu'un répond à mon commentaire" %>
	
	<div>
	<% if current_user %>
	
		<%= f.submit %>
	<% else %>
		<div class="wrap_drop_write_as">
		<%= render 'comments/drop_write_as' %>
		</div>
	<% end %>
	</div>
</div>
<div class="right">
	ieurhfieuh rfiuehr ifhurhfieh rifhueiruhfieurh fieh rifuhieurfhiue rhifeh irfhieu hrfi
		ieurhfieuh rfiuehr ifhurhfieh rifhueiruhfieurh fieh rifuhieurfhiue rhifeh irfhieu hrfi
			ieurhfieuh rfiuehr ifhurhfieh rifhueiruhfieurh fieh rifuhieurfhiue rhifeh irfhieu hrfi
				ieurhfieuh rfiuehr ifhurhfieh rifhueiruhfieurh fieh rifuhieurfhiue rhifeh irfhieu hrfi
					ieurhfieuh rfiuehr ifhurhfieh rifhueiruhfieurh fieh rifuhieurfhiue rhifeh irfhieu hrfi
</div>
<% end %>
