<%= form_for(@new_comment, :url => {:action => "create", :controller => "comments", :post_id => @post, :anchor => "new_comment"}) do |f| %>
	<% if @new_comment.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@new_comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
  
			<ul>
			<% @new_comment.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>

	<%= Devise.mappings.keys %>

	<div class="field">
	  <%= f.label :title %><br />
		<% if user_signed_in? %>
	  <%= f.text_field :title, :validate => true %>
		<% else %>
		<%= f.text_field :title, :validate => false %>
		<% end %>
	</div>
	
	<div class="field">
    	<%= f.label :body %><br />
	<% if user_signed_in? %>
    	<%= f.text_area :body, :validate => true %>
	<% else %>
		<%= f.text_area :body, :validate => false %>
	<% end %>
	</div>

	<div class="new_comment_guest_fields">
  	</div>

	<div class="actions">
	<% if current_user %>
		<%= f.submit %>
	<% else %>
		<div class="wrap_drop_write_as">
		<%= render 'comments/drop_write_as' %>
		</div>
	<% end %>
	</div>
<% end %>
