<%= form_for(@comment, :as => "comment", :url => create_comment_as_guest_path(@post), :remote => true, :method => :post, :validate => true) do |f| %>
<h1>New comment</h1>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, 'data-post-id' => @post.id %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :validate => true %>
  </div>

  <div class="field">
    <%= f.label :guest_email %><br />
    <%= f.text_field :guest_email, :validate => true %>
  </div>
  <div class="field">
    <%= f.label :guest_website %><br />
    <%= f.text_field :guest_website, :validate => true %>
  </div>

	<div class="field">
  	<%= f.check_box :send_notification_when_reply_my_comment, :validate => true %><%= f.label "M'envoyer une notification lorsque quelqu'un répond à mon commentaire" %>
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>

	
	
<% end %>