<%= form_for(@reply, :as => "reply", :url => create_reply_as_guest_path(@post, @root_comment), :html => {:method => :post}, :validate => true, :remote => true) do |f| %>

<h1>New reply</h1>

  <% if @reply.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reply.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @reply.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title, 'data-comment-id' => @comment.id, :id => "comment_id" %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body, :validate => true %>
  </div>

	<div class="new_reply_guest_fields">
		<div class="field">
	    <%= f.label :guest_email %><br />
	    <%= f.text_field :guest_email, :validate => true %>
	  </div>
	  <div class="field">
	    <%= f.label :guest_website %><br />
	    <%= f.text_field :guest_website, :validate => true %>
	  </div>
	</div>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>