<%= simple_form_for(@reply, :as => "reply", :url => create_comment_reply_as_guest_path(commentable_class, commentable, @root_comment), :html => {:method => :post, :class => "guest"}, :validate => true, :remote => true) do |f| %>

<h1>Écrivez votre réponse</h1>

<div class="left">
	ieurhfieuh rfiuehr ifhurhfieh rifhueiruhfieurh fieh rifuhieurfhiue rhifeh irfhieu hrfi
		ieurhfieuh rfiuehr ifhurhfieh rifhueiruhfieurh fieh rifuhieurfhiue rhifeh irfhieu hrfi
			ieurhfieuh rfiuehr ifhurhfieh rifhueiruhfieurh fieh rifuhieurfhiue rhifeh irfhieu hrfi
				ieurhfieuh rfiuehr ifhurhfieh rifhueiruhfieurh fieh rifuhieurfhiue rhifeh irfhieu hrfi
					ieurhfieuh rfiuehr ifhurhfieh rifhueiruhfieurh fieh rifuhieurfhiue rhifeh irfhieu hrfi
</div>
<div class="right">
	  <fieldset>
	    <%= f.input :guest_email, :label => false %>
	  </fieldset>
	  <fieldset>
	    <%= f.input :guest_website, :label => false %>
	  </fieldset>

	  <fieldset>
	    <%= f.input :title, :label => false %>
	  </fieldset>
	  <fieldset>
	    <%= f.input :body, :label => false %>
	  </fieldset>


  <fieldset>
    <%= recaptcha_tags(:display => {:theme => 'white'}, :ajax => true) %>
	<span></span>
  </fieldset>

  <fieldset>
    <%= f.submit %>
  </fieldset>
</div>
<% end %>