<h1>Listing post_types</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cached slug</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post_types.each do |post_type| %>
  <tr id="post_type_<%= post_type.id %>">
    <td><%= post_type.name %></td>
    <td><%= post_type.cached_slug %></td>
    <td><%= link_to 'Edit', edit_post_type_path(post_type), :class => "edit_post_type_link fancybox.ajax" %></td>
    <td><%= link_to 'Destroy', post_type, :confirm => 'Are you sure?', :method => :delete, :remote => true %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "Créer un nouveau type", new_post_type_path, :class => "new_post_type_link fancybox.ajax" %>