<% javascript 'users/avatar.js' %>
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= render "users/avatar_form" %>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }, :validate => true) do |f| %>
<%= f.input :avatar_id, :label => false, :as => :hidden, :input_html => {:id => "avatar_id", :value => @avatar.id } %>

<%#= devise_error_messages! %>

<div class="inputs">
<%= f.input :display_name %>
</div>

<div class="inputs">
<%= f.input :email %>
</div>

<div class="inputs">
<%= f.input :password, :validate => {:presence => false, :length => false} %> <i>(leave blank if you don't want to change it)</i><br />	
</div>

<div class="inputs">
<%= f.input :password_confirmation %>
</div>

<div class="inputs">
<%= f.input :current_password, :validate => {:presence => true} %><i>(we need your current password to confirm your changes)</i><br />
</div>

<div class="inputs">
<%= f.input :real_name %>
</div>

<div class="inputs">
<%= f.input :website %>
</div>

<div class="inputs">
<%= f.input :location %>
</div>

<div class="inputs">
<%= f.input :birthday %>
</div>

<div class="inputs">
<%= f.input :about_me, :as => :text %>
</div>

<div class="action">
<%= f.button :submit, "Mettre à jour" %>
</div>

<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<%= link_to "Back", :back %>
