<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true) do |f| %>
  <%= devise_error_messages! %>

  <p><%= f.label :display_name %><br />
  <%= f.text_field :display_name, :validate => true %></p>

  <p><%= f.label :email %><br />
  <%= f.email_field :email, :validate => true %></p>

  <p><%= f.label :password %><br />
  <%= f.password_field :password, :validate => true %></p>

  <p><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></p>

  <p><%= f.label :real_name %><br />
  <%= f.text_field :real_name, :validate => true %></p>

  <p><%= f.label :website %><br />
  <%= f.text_field :website, :validate => true %></p>

  <p><%= f.label :location %><br />
  <%= f.text_field :location, :validate => true %></p>

  <p><%= f.label :birthday %><br />
  <%= f.text_field :birthday, :validate => true %></p>

  <p><%= f.label :about_me %><br />
  <%= f.text_field :about_me, :validate => true %></p>

  <p><%= f.submit "Sign up" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
