<% javascript 'users/avatar.js' %>

<h2>Sign up</h2>

<%= render "users/avatar_form" %>



<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :validate => true) do |f| %>
<%= f.input :avatar_id, :label => false, :input_html => {:id => "avatar_id", :value => @avatar.id } %>
  <%= devise_error_messages! %>

<%= f.input :display_name %>

<%= f.input :email %>

<%= f.input :password %>	

<%= f.input :password_confirmation %>

<%= f.input :real_name %>

<%= f.input :website %>

<%= f.input :location %>

<%= f.input :birthday %>

<%= f.input :about_me %>

<%= f.button :submit %>
<% end %>

<%= render :partial => "devise/shared/links" %>
