<% @events.each do |event| %>
<article id="event_<%= event.id %>">
	<div class="left">
		<div class="image"><%= image_tag event.picture.url(:thumb) if !event.presentation_picture.blank? %></div>
		<div class="date"><span class="day"><%= event.created_at.strftime("%d") %></span><span class="month"><%= getMonthFromNumber(event.created_at.strftime("%m")) %></span></br><span class="year"><%= event.created_at.strftime("%Y") %></span></div>
	</div>
	<div class="content">
		<header>
	    	<h1><%= event.title %></h1>
			<span>écrit par</span> <%= event.user.email %>
		</header>
	    <div class="description"><%= raw(event.description) %></div>
	    <%= link_to 'Voir', event, :class => "link_to_entry" %>
	</div>
</article>
<div class="horizontal_rule"></div>
<% end %>