<% javascript 'layouts/form.js' %>
<%= render "layouts/presentation_picture_form" %>


<%= simple_form_for(@event, :validate => true, :html => { :multipart => true }) do |f| %>
<%= f.input :presentation_picture_id, :label => true, :input_html => {:id => "presentation_picture_id", :value => (@event.presentation_picture.id if !@event.presentation_picture.blank?) } %><header>
	<div class="left">
		<div class="etiquette">Évènement</div>
		<div class="date">
			<span class="day"><%= Time.now.strftime("%d") %></span>
			<span class="month"><%= getMonthFromNumber(Time.now.strftime("%m")) %></span>
			</br>
			<span class="year"><%= Time.now.strftime("%Y") %></span>
		</div>
	</div>
	<div class="right">
		<div class="written_by"><span>écrit par</span> <%= (@event.user.email if @event.user) || current_user.email %></div>
		<h1>1. Titre*</h1>
		<div>
			<%= f.input :title, :label => false, :as => :text, :wrapper => false, :input_html => {:class => "new_form_input char_count"} %>
			<span class="counter"></span>
		</div>
		<div class="group_items">
			<div class="description">
				<h1>2. Description*</h1>
				<%= f.input :description, :label => false, :input_html => {:class => "new_form_input"} %>
			</div>
			<div id="image">
				
				<h1>4. Date de début*</h1>
				<%= f.input :event_start_date, :label => false, :as => :string, :input_html => {:class => "datepicker new_form_input", :value => (@event.event_start_date ? @event.event_start_date.strftime("%d/%m/%Y") : "")} %>
				<h1>5. Date de fin</h1>
				<%= f.input :event_end_date, :label => false, :as => :string, :input_html => {:class => "datepicker new_form_input", :value => (@event.event_end_date ? @event.event_end_date.strftime("%d/%m/%Y") : "")} %>
			</div>
			
			
		</div>
	</div>
	
</header>

<h1>6. Adresse</h1>
<h2>Rue</h2><%= f.input :addr_street_1, :label => false, :input_html => {:class => "new_form_input"} %>
			<%= f.input :addr_street_2, :label => false, :input_html => {:class => "new_form_input"} %>
<h2>Code postal</h2><%= f.input :addr_postcode, :label => false, :input_html => {:class => "new_form_input"} %>
<h2>Ville</h2><%= f.input :addr_city, :label => false, :input_html => {:class => "new_form_input"} %>
<h2>Country</h2><%= f.input :addr_country, :as => :string, :label => false, :input_html => {:class => "new_form_input"} %>

<div id="sources">
	<h1>4. Sources / liens utilisés pour la rédaction de cette astuce</h1>
	
	<div id="source_inputs">
		Description de la source - non obligatoire
		<%= f.input :source_description, :label => false, :wrapper_html => {:id => "source_description"}, :input_html => {:class => "new_form_input", :value => '', :id => "source_description_input"}, :validate => false %>
		Lien hypertexte (URL) - non obligatoire
		<%= f.input :source, :label => false, :wrapper_html => {:id => "html_link"}, :input_html => {:class => "new_form_input", :value => 'http://', :id => "html_link_input"}, :validate => false %>
		<%= f.input :sources, :label => false, :input_html => {:id => "sources_input"}, :validate => false %>
		<%= link_to "+ Ajouter la source", events_add_source_path, :remote => true, :class => "awesome" %>
	</div>
	<div id="source_list">
		Prévisualisation des sources
		<ul id="sources_display">
			<% if !@event.sources.blank? %>
				<%= @event.sources.html_safe %>
			<% end %>
		</ul>
	</div>
</div>
<div id="categories">
	<h1>4. Catégories*</h1>
	<%= link_to "Créer une nouvelle catégorie", new_category_path, :class => "new_category_link fancybox.ajax awesome" %><%= link_to "Afficher toutes les catégories", categories_path, :class => "index_categories_link fancybox.ajax awesome" %>
	
	<%= f.association :categories, :label => false, :as => :check_boxes, :wrapper_html => {:id => "category_list", :class => "new_form_input"} %>
</div>
	
    <%= f.button :submit %>
<% end %>