<% javascript 'layouts/form.js', 'layouts/sources.js' %>
<header>
	<div class="left">
		<div class="etiquette">Évènement</div>
		<div class="date">
			<span class="day"><%= Time.now.strftime("%d") %></span>
			<span class="month"><%= getMonthFromNumber(Time.now.strftime("%m")) %></span>
			</br>
			<span class="year"><%= Time.now.strftime("%Y") %></span>
		</div>
	</div>
	<div class="right">
		<div class="written_by"><span>écrit par</span> <%= (@event.user.email if @event.user) || current_user.email %></div>
		
		<%= render "layouts/presentation_picture_form" %>
		<%= simple_form_for(@event, :validate => true, :html => { :multipart => true }) do |f| %>
		<%= f.input :presentation_picture_id, :label => false, :input_html => {:id => "presentation_picture_id", :value => (@event.presentation_picture.id if !@event.presentation_picture.blank?) } %>
		
		
		<fieldset class="title">
			<label>Titre*</label>
			<div>
				<%= f.input :title, :label => false, :as => :text, :wrapper => false, :input_html => {:class => "char_count", 'original-title' => "100 caractères maximum"} %>
				<span class="counter"></span>
			</div>
		</fieldset>
		
		<fieldset>
			<label>Description*</label>
			<div>
				<%= f.input :description, :label => false, :wrapper => false, :input_html => {} %>
			</div>
		</fieldset>
		
		<fieldset>
			<label>Date de début*</label>
			<div>
				<%= f.input :event_start_date, :label => false, :as => :string, :input_html => {:class => "datepicker ", :value => (@event.event_start_date ? @event.event_start_date.strftime("%d/%m/%Y") : "")} %>
			</div>
		</fieldset>
		
		<fieldset>
			<label>Date de fin</label>
			<div>
				<%= f.input :event_end_date, :label => false, :as => :string, :input_html => {:class => "datepicker ", :value => (@event.event_end_date ? @event.event_end_date.strftime("%d/%m/%Y") : "")} %>
			</div>
		</fieldset>
		
		<fieldset>
			<label>Adresse de l'évènement</label>
			<div>
				Rue
				</br>
				<%= f.input :addr_street_1, :label => false, :input_html => {:class => ""} %>
				<%= f.input :addr_street_2, :label => false, :input_html => {:class => ""} %>
			</div>
			<div>
				Code postal
				</br>
				<%= f.input :addr_postcode, :label => false, :input_html => {:class => ""} %>
			</div>
			<div>
				Ville
				</br>
				<%= f.input :addr_city, :label => false, :input_html => {:class => ""} %>
			</div>
			<div>
				Pays
				</br>
				<%= f.input :addr_country, :as => :string, :label => false, :input_html => {:class => ""} %>
			</div>
		</fieldset>
		
		<%= render 'layouts/sources_form', :f => f, :model_var => @event %>
		
		<%= render 'categories/category_list_checkboxes', :f => f %>
		
		<%= f.button :submit %>
	</div>
	
</header>
	
    
<% end %>