<% javascript 'layouts/form.js', 'layouts/sources.js', 'events/form.js' %>
<header>
	<div class="left">
		<div class="etiquette">Évènement</div>
		<div class="date">
			<span class="day"><%= Time.now.strftime("%d") %></span>
			<span class="month"><%= getMonthFromNumber(Time.now.strftime("%m")) %></span>
			</br>
			<span class="year"><%= Time.now.strftime("%Y") %></span>
		</div>
	</div>
	<div class="right">
		<div class="written_by"><span>écrit par</span> <%= (@event.user.email if @event.user) || current_user.email %></div>
		
		<%= render "layouts/presentation_picture_form" %>
		<%= simple_form_for(@event, :validate => true, :html => { :multipart => true }) do |f| %>
		<%= f.input :presentation_picture_id, :label => false, :as => :hidden, :input_html => {:id => "presentation_picture_id", :value => @presentation_picture.id } %>
		
		
		<fieldset class="title">
			<label>Titre*</label>
			<div>
				<%= f.input :title, :label => false, :wrapper => false, :input_html => {:class => "char_count", 'original-title' => "100 caractères maximum"} %>
				<span class="counter"></span>
			</div>
		</fieldset>
		
		<fieldset>
			<label>Description*</label>
			<div>
				<%= f.input :description, :label => false, :wrapper => false, :input_html => {'original-title' => "Décrivez ici l'évènement"} %>
			</div>
		</fieldset>
		
		<fieldset>
			<label>Date de début*</label>
			<div>
				<%= f.input :event_start_date, :label => false, :wrapper => false, :as => :string, :input_html => {:class => "datepicker ", 'original-title' => "Veuillez remplir la champs en utilisant le calendrier", :value => (@event.event_start_date ? @event.event_start_date.strftime("%d/%m/%Y") : "")} %>
			</div>
		</fieldset>
		
		<fieldset>
			<label>Date de fin</label>
			<div>
				<%= f.input :event_end_date, :label => false, :wrapper => false, :as => :string, :input_html => {:class => "datepicker ", 'original-title' => "Veuillez remplir la champs en utilisant le calendrier et vérifiez que la date de fin soit similaire ou ultérieure à la date de début de l'évènement", :value => (@event.event_end_date ? @event.event_end_date.strftime("%d/%m/%Y") : "")} %>
			</div>
		</fieldset>
		
		<fieldset>
			<label>Adresse de l'évènement</label>
			<div>
				Rue
				</br>
				<%= f.input :addr_street_1, :label => false, :wrapper => false, :input_html => {'original-title' => "Détaillez ici la rue, le lieu, la bâtiment... Un deuxième champs est à votre disposition ci-dessous."} %>
				<%= f.input :addr_street_2, :label => false, :wrapper => false, :input_html => {'original-title' => "Ajoutez plus de détails si besoin"} %>
			</div>
			<div>
				Code postal
				</br>
				<%= f.input :addr_postcode, :label => false, :wrapper => false, :input_html => {'original-title' => "En France, le code postal est composé de 5 chiffres"} %>
			</div>
			<div>
				Ville
				</br>
				<%= f.input :addr_city, :label => false, :wrapper => false, :input_html => {'original-title' => "Indiquez la ville où aura lieu l'évènement"} %>
			</div>
			<div>
				Pays
				</br>
				<%= f.input :addr_country, :collection => Event::COUNTRY_LIST, :selected => "France", :label => false, :wrapper => false, :input_html => {'original-title' => "Indiquez le pays où aura lieu l'évènement"} %>
			</div>
			<div style="display:none">
				Département
				</br>
				<%= f.input :department, :collection => Event::DEPARTMENT_LIST, :prompt => "Sélectionner un département", :label => false, :wrapper => false, :input_html => {'original-title' => "Indiquez le départment où aura lieu l'évènement, si ce sera en France"} %>
			</div>
		</fieldset>
		
		<%= render 'layouts/sources_form', :f => f, :model_var => @event %>
		
		<%= render 'categories/category_list_checkboxes', :f => f %>
		
		<%= f.button :submit %>
	</div>
	
</header>
	
    
<% end %>