<div id="show_left">
	<article id="event" class="show">
		<header>
			<div class="left">
				<div class="etiquette"><%= link_to "Évènement", events_path %></div>
				<div class="date">
					<span class="day"><%= @event.created_at.strftime("%d") %></span>
					<span class="month"><%= getMonthFromNumber(@event.created_at.strftime("%m")) %></span>
					</br>
					<span class="year"><%= @event.created_at.strftime("%Y") %></span>
				</div>
			</div>
			<div class="right" <%= ("style='width:30em'" if !@event.has_big_picture) %>>
				<h1><%= @event.title %></h1>
				<div class="written_by"><span>écrit par</span> <%= link_to(@user.display_name, show_user_profile_path(@user)) %></div>
				<div class="categories">Catégories: 
					<span><%= @categories.map{|c| (link_to c.name, category_path(c.name.downcase) )}.join(', ').html_safe %></span>
				</div>
			</div>
			<% if !@event.has_big_picture %>
				<div id="small_picture">
					<%= image_tag @event.picture.url(:thumb) %>
				</div>
			<% end %>
		</header>
		<div id="left_bar">
			<div id="share">
				<div id="vote">
					<div id="vote_up">
						<%= link_to(image_tag("thumb_up.png", :width => "29px", :height => "30px"), vote_up_event_path(@event), :method => :post, :remote => true) %>
					</div>

					<div id="votes_result">
						<%= render "layouts/votes_result" %>
					</div>
				</div>
				<%= render 'layouts/share_buttons' %>
			</div>
		</div>
	
	
		<div id="content_wrap">
		<% if @event.has_big_picture %>
			<div id="big_picture">
				<%= image_tag @event.picture.url(:medium),  :style => ("margin: 0 9em" if !@event.picture_orientation_horizontal) %>
			</div>
		<% end %>
		<div class="event_date" style="display:inline-block; vertical-align:top; width:10em">
			<% if @event.event_end_date %>
			Du <%= @event.event_start_date.strftime("%d/%m/%Y") %>
			</br>
			au <%= @event.event_end_date.strftime("%d/%m/%Y") %>
			<% else %>
			<%= @event.event_start_date.strftime("%d/%m/%Y") %>
			<% end %>
		</div>
		<% if @event.addr_street || @event.addr_postcode || @event.addr_city %>
		<div class="event_address" style="display:inline-block; vertical-align:top; width:10em; border-left: 4px solid rgba(255, 255, 255, 0.2); padding: 0 1em; float: right;">
			<%= @event.addr_street %>
			</br>
			<%= @event.addr_postcode %>
			 - 
			<%= @event.addr_city %>
		</div>
		<% end %>
		<div class="description" style="margin-top: 2em">
			<%= simple_format(h @event.description) %>
		</div>
		
		
		<div class="horizontal_rule_events"></div>
		<div id="about_author">
			<h1>À propos de l'auteur</h1>
			<div class="left">
				<div class="image" >
					<%= link_to(image_tag(avatar_url(@user, 60)), show_user_profile_path(@user)) %>
				</div>
				<div class="author">
					<%= link_to(@user.display_name, show_user_profile_path(@user)) %>
				</div>
			</div>
			<div class="right">
				<div class="member_state">
					<%= @user.member_state %>
				</div>
				<div class="about">
					<%= @user.about_me %>
				</div>
			</div>
		</div>
		<div class="horizontal_rule_events"></div>


		</div>
	</article>

	<section id="comments">
		<!-- Comments -->
		<header>
		<h1 class="red_section big">Les <span>COMMENTAIRES</span></h1>
		</header>
	
		<div id="display_comments" data-displayed-comments=<%= @displayed_comments %>>
	
			<%= display_comments(@comments) %>
		</div>


		<br />




		<!-- New comment -->



		<div id="wrap_form_new_comment">
	
			<%= render 'comments/form' %>

		</div>
	</section>
</div>

<%= render :partial => "layouts/also_to_read" %>