<div id="page_info" data-action="index_post"></div>

<section id="posts_home" data-displayed-posts=<%= @displayed_posts %>>
	<header>
		<h1>Derniers articles</h1>
	</header>
	<%= render "posts/posts" %>

	<% if @remaining_posts != 0 %>
		<%= link_to "Voir plus d'articles", show_more_posts_path(:displayed_posts => @displayed_posts), :id => "show_more_posts_link", :method => :post, :remote => true %>
	<% end %>

	<br />

	<% if can? :new, @post %><%= link_to 'New Post', new_post_path %><% end %>
</section>

<section id="changeons_home">
	<header>
		<h1>Envie de changer ?</h1>
		<nav id="changeons">
			<div class="domtab">
				<ul class="domtabs">
					<li><a href="#t1">Quoi ? Qui ?</a></li>
					<li><a href="#t2">Pourquoi ?</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="domtab">
		<div id="container_1">
		    <h2><a name="t1" id="t1">Changeons...</a></h2>
			<ul id="items_1">
		    <% @changeons_quoi.each do |answer| %>
				<li><%= answer.content %></li>
			<% end %>
			</ul>
			<h2>Vous, aussi, exprimez ce que vous voulez changer !</h2>
			<%= link_to "Changeons - Quoi ? Qui ?", new_question_answer_path(1) %>
		</div>
	</div>
	<div class="domtab">
		<div id="container_2">
		    <h2><a name="t2" id="t2">Changeons...</a></h2>
		    <ul id="items_2">
			<% @changeons_pourquoi.each do |answer| %>
				<li><%= answer.content %></li>
			<% end %>
			</ul>
			<h2>Vous, aussi, exprimez pourquoi vous voulez changer !</h2>
			<%= link_to "Changeons - Pourquoi ?", new_question_answer_path(2) %>
		</div>
	</div>
</section>