<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for([:admin, @user], :as => "user", :url => admin_update_user_registration_path(@user), :html => { :method => :put }, :validate => true, :remote => true) do |f| %>

  <p><%= f.label :email %><br />
  <%= f.email_field :email, :validate => { :presence => true } %></p>

  <p><%= f.label :role %><br />

  <%= f.select(:role, User::ROLES, {:selected => @user.role}) %>

  <p><%= f.submit "Update" %></p>
<% end %>



<% if can? :index, :admin_registration %><%= link_to 'Back', admin_users_path, :class => "admin_users_link fancybox.ajax" %><% end %>