<h2>Create a new user via admin page</h2>

<%= simple_form_for(@user, :as => "user", :url => admin_user_registration_path, :validate => true, :remote => true) do |f| %>
  
<div class="inputs">
<%= f.input :display_name %>
</div>

<div class="inputs">
<%= f.input :email %>
</div>

<div class="inputs">
<%= f.input :password %>	
</div>

<div class="inputs">
<%= f.input :password_confirmation %>
</div>

<div class="inputs">
<%= f.input :real_name %>
</div>

<div class="inputs">
<%= f.input :website %>
</div>

<div class="inputs">
<%= f.input :location %>
</div>

<div class="inputs">
<%= f.input :birthday %>
</div>

<div class="inputs">
<%= f.input :about_me, :as => :text %>
</div>

<p><%= f.label :role %><br />
<%= f.select(:role, User::ROLES, {:selected => "user"}) %>

<div class="action">
<%= f.button :submit, "Enregistrer" %>
</div>

<% end %>

