<% javascript 'layouts/form.js', 'layouts/sources.js' %>

<header>
	<div class="left">
		<div class="etiquette">Actualité</div>
		<div class="date">
			<span class="day"><%= Time.now.strftime("%d") %></span>
			<span class="month"><%= getMonthFromNumber(Time.now.strftime("%m")) %></span>
			</br>
			<span class="year"><%= Time.now.strftime("%Y") %></span>
		</div>
	</div>
	<div class="right">
		
		<div class="written_by"><span>écrit par</span> <%= (@post.user.email if @post.user) || current_user.email %></div>
		
		<%= render "layouts/presentation_picture_form" %>
		
		<%= simple_form_for(@post, :validate => true) do |f| %>
		<%= f.input :presentation_picture_id, :label => false, :input_html => {:id => "presentation_picture_id", :value => (@post.presentation_picture.id if !@post.presentation_picture.blank?) } %>
		
		<fieldset class="title">
			<label>Titre*</label>
			<div>
				<%= f.input :title, :label => false, :wrapper => false, :input_html => {:class => "char_count", 'original-title' => "100 caractères maximum"} %>
				<span class="counter"></span>
			</div>
		</fieldset>
		
		<fieldset>
			<label>Courte description*</label>
			<div>
				<%= f.input :short_description, :label => false, :wrapper => false, :input_html => {:class => "char_count", 'original-title' => "200 caractères maximum"} %>
				<span class="counter"></span>
			</div>
		</fieldset>

			
			
		<%= render 'categories/category_list_checkboxes', :f => f %>
		
		<fieldset>
		    <label>Contenu de l'article*</label>
		    <div>
				<%= f.ckeditor :content, :label => false, :input_html => { :toolbar => 'Easy', :width=>'36.6em', :height=>'500px' } %><br />
			</div>
		</fieldset>
		
		<%= render 'layouts/sources_form', :f => f, :model_var => @post %>

		
		<fieldset>
		    <label>Tags*</label>
			<div>
				<%= f.input :tag_list, :label => false, :input_html => {'original-title' => "Un tag est un mot clé en relation avec l'article. Veuillez remplir ce champs avec un ou plusieurs tags en les séparant par une virgule"} %>
			</div>
		</fieldset>
		<%= f.button :submit %>
	</div>
</header>


<% end %>
