<% javascript 'layouts/form.js', 'layouts/sources.js' %>





<header>
	<div class="left">
		<div class="etiquette">Actualité</div>
		<div class="date">
			<span class="day"><%= Time.now.strftime("%d") %></span>
			<span class="month"><%= getMonthFromNumber(Time.now.strftime("%m")) %></span>
			</br>
			<span class="year"><%= Time.now.strftime("%Y") %></span>
		</div>
	</div>
	<div class="right">
		
		<div class="written_by"><span>écrit par</span> <%= (@post.user.email if @post.user) || current_user.email %></div>
		
		<%= render "layouts/presentation_picture_form" %>
		
		<%= simple_form_for(@post, :validate => true) do |f| %>
		<%= f.input :presentation_picture_id, :label => false, :input_html => {:id => "presentation_picture_id", :value => (@post.presentation_picture.id if !@post.presentation_picture.blank?) } %>
		
		<fieldset class="title">
			<label>Titre*</label>
			<div>
				<%= f.input :title, :label => false, :as => :text, :wrapper => false, :input_html => {:class => "char_count", 'original-title' => "100 caractères maximum"} %>
				<span class="counter"></span>
			</div>
		</fieldset>
		
		<fieldset>
			<label>Courte description*</label>
			<div>
				<%= f.input :short_description, :label => false, :wrapper => false, :input_html => {:class => "char_count", 'original-title' => "200 caractères maximum"} %>
				<span class="counter"></span>
			</div>
		</fieldset>

			
			
		<fieldset id="categories_fieldset">	
			<label>Catégories*</label>
			<div>
				<%= f.association :categories, :label => false, :as => :check_boxes, :wrapper_html => {:class => ""} %>
				<%= link_to "Créer une nouvelle catégorie", new_category_path, :class => "new_category_link fancybox.ajax awesome" %><%= link_to "Afficher toutes les catégories", categories_path, :class => "index_categories_link fancybox.ajax awesome" %>
			</div>
		</fieldset>
		
		<fieldset>
		    <label>Contenu de l'article*</label>
		    <div>
				<%= f.ckeditor :content, :label => false, :input_html => { :toolbar => 'Easy', :width=>'36.6em', :height=>'500px' } %><br />
			</div>
		</fieldset>
		
		<fieldset id="sources">
			<label>Sources / liens utilisés pour la rédaction de cette article</label>

			<div id="source_inputs">
				Description de la source
				<%= f.input :source_description, :label => false, :wrapper_html => {:id => "source_description"}, :input_html => {:class => "", :value => '', :id => "source_description_input", 'original-title' => "Veuillez remplir la description ET/OU l'URL pour ajouter une source"}, :validate => false %>
				URL (Lien hypertexte / adresse d'un site internet)
				<%= f.input :source, :label => false, :wrapper_html => {:id => "html_link"}, :input_html => {:class => "", :value => 'http://', :id => "html_link_input", 'original-title' => "Veuillez remplir la description ET/OU l'URL pour ajouter une source. Veuillez vous assurer que le lien commence bien par \"http://\"."}, :validate => false %>
				<%= f.input :sources, :label => false, :input_html => {:id => "sources_input"}, :validate => false %>
				</br>
				<%= link_to "+ Ajouter", "", :remote => true, :class => "awesome", :id => "add_source" %>
			</div>
			<div id="source_list">
				<label class="additionnal_info">Prévisualisation des sources</label>
				<ul id="sources_display">
					<% if !@post.sources.blank? %>
						<%= @post.sources.html_safe %>
					<% end %>
				</ul>
			</div>
		</fieldset>
		
		<fieldset>
		    <label>Tags*</label>
			<div>
				<%= f.input :tag_list, :label => false, :input_html => {'original-title' => "Un tag est un mot clé en relation avec l'article. Veuillez remplir ce champs avec un ou plusieurs tags en les séparant par une virgule"} %>
			</div>
		</fieldset>
		<%= f.button :submit %>
	</div>
</header>


<% end %>
