<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.content %></td>
    <td><%= post.user_id %></td>
    <td><%= link_to 'Show', post %></td>
    <td><% if can? :edit, post %><%= link_to 'Edit', edit_post_path(post) %><% end %></td>
    <td><% if can? :destroy, post %><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %><% end %></td>
  </tr>
<% end %>