<% @posts.each do |post| %>
<article id="post_<%= post.id %>">
	<div class="left">
		<div class="image"><%= image_tag post.picture.url(:thumb) %></div>
		<div class="date"><span class="day"><%= post.created_at.strftime("%d") %></span><span class="month"><%= getMonthFromNumber(post.created_at.strftime("%m")) %></span></br><span class="year"><%= post.created_at.strftime("%Y") %></span></div>
	</div>
	<div class="content">
		<header>
	    	<h1><%= post.title %></h1>
			<span>écrit par</span> <%= post.user.email %>
		</header>
	    <div class="short_description"><%= raw(post.short_description) %></div>
	    <%= link_to 'Voir', post %>
	    <% if can? :edit, post %><%= link_to '| Éditer', edit_post_path(post) %><% end %>
	    <% if can? :destroy, post %><%= link_to '| Supprimer', post, :confirm => 'Are you sure?', :method => :delete %><% end %>
	</div>
</article>
<div class="horizontal_rule"></div>
<% end %>
