<% @posts.each do |post| %>
<article id="post_<%= post %>">
	<header>
    <%= post.title %> 
	</br>écrit par <%= post.user.email %>
	</header>
	
    <div class="short_description"><%= post.short_description %></div>
    <%= link_to 'Show', post %>
    <% if can? :edit, post %><%= link_to '| Edit', edit_post_path(post) %><% end %>
    <% if can? :destroy, post %><%= link_to '| Destroy', post, :confirm => 'Are you sure?', :method => :delete %><% end %>
</article>
<% end %>
