<% @posts.each do |post| %>
<article id="post_<%= post %>">
	<header>
    <%= post.title %>
    <p><%= post.user_id %></p>
	</header>
	
    <p><%= post.content %></p>
    <p><%= link_to 'Show', post %></p>
    <p><% if can? :edit, post %><%= link_to 'Edit', edit_post_path(post) %><% end %></p>
    <p><% if can? :destroy, post %><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %><% end %></p>
</article>
<% end %>
