<div id="page_info" data-action="index_post"></div>

<h1>Listing posts</h1>
<div id="display_posts" data-displayed-posts=<%= @displayed_posts %>>
	<%= render "posts/display_posts" %>
</div>

<% if @remaining_posts != 0 %>
<%= link_to "Voir plus d'articles", show_more_posts_path(:displayed_posts => @displayed_posts), :id => "show_more_posts_link", :method => :post, :remote => true %>
<% end %>

<br />

<% if can? :new, @post %><%= link_to 'New Post', new_post_path %><% end %>

<h1>Listing tags</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @tags.each do |tag| %>
  <tr>
    <td><%= tag.name %></td>
  </tr>
<% end %>
</table>

<br />