<div id="vote_down">
	<%= link_to(image_tag("thumbs_up.png", :width => "60px", :height => "60px"), vote_up_post_path(@post), :method => :post, :remote => true, :class => "vote_up") %>
</div>

<p id="votes_result">
	<%= render "posts/votes_result" %>
</p>

<div id="vote_down">
	<%= link_to(image_tag("thumbs_down.png", :width => "60px", :height => "60px"), vote_down_post_path(@post), :method => :post, :remote => true, :class => "vote_down") %>
</div>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>User:</b>
  <%= @post.user_id %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>


<!-- Comments -->
<h1>Listing comments</h1>



<%= display_comments(@comments) %>



<br />

<!-- New comment -->

<h1>New comment</h1>

<%= render 'comments/form' %>

<h1>Listing tags</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @tags.each do |tag| %>
  <tr>
    <td><%= tag %></td>
  </tr>
<% end %>
</table>

<br />