<div id="vote_down">
	<%= link_to(image_tag("thumbs_up.png", :width => "60px", :height => "60px"), vote_up_post_path(@post), :method => :post, :remote => true, :class => "vote_up") %>
</div>

<p id="votes_result">
	<%= render "posts/votes_result" %>
</p>

<div id="vote_down">
	<%= link_to(image_tag("thumbs_down.png", :width => "60px", :height => "60px"), vote_down_post_path(@post), :method => :post, :remote => true, :class => "vote_down") %>
</div>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
	<div class="post_content">
  <%= @post.content.html_safe %>
	</div>
</p>

<p>
  <b>User:</b>
  <%= @post.user_id %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>


<!-- Comments -->

<h1 id="comments_title">Listing comments</h1>

<div id="display_comments">
	
	<%= display_comments(@comments) %>
</div>


<br />

<% if @comments_count != 0 %>
<%= link_to "Voir plus de commentaires", show_more_comments_path(@post, :offset => @default_comment_offset), :id => "show_more_comments_link", :method => :post, :remote => true, 'data-comment-offset' => @default_comment_offset %>
<% end %>

<!-- New comment -->



<div id="wrap_form_new_comment">
	
	<%= render 'comments/form' %>

</div>


<h1>Listing tags</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
  </tr>

<% @tags.each do |tag| %>
  <tr>
    <td><%= tag %></td>
  </tr>
<% end %>
</table>

<br />