<div id="page_info" data-action="show_post"></div>

<article id="post">
	<header>
		<div class="left">
			<div class="etiquette_post_type"><%= @post_type %></div>
			<div class="post_date">
				<span class="day"><%= @post.created_at.strftime("%d") %></span>
				<span class="month"><%= getMonthFromNumber(@post.created_at.strftime("%m")) %></span>
				</br>
				<span class="year"><%= @post.created_at.strftime("%Y") %></span>
			</div>
		</div>
		<div class="right">
			<h1><%= @post.title %></h1>
			<div class="written_by"><span>écrit par</span> <%= @post.user.email %></div>
			<div class="post_categories">Catégories: 
				<% @categories.each do |category| %>
					<%= category.name %> 
				<% end %>
			</div>
			<div class="short_description">
				<%= @post.short_description %>
			</div>
		</div>
	</header>
	<div id="post_share">
		<div id="post_vote">
			<div id="vote_up">
				<%= link_to(image_tag("thumb_up.png", :width => "29px", :height => "30px"), vote_up_post_path(@post), :method => :post, :remote => true) %>
			</div>

			<div id="votes_result">
				<%= render "posts/votes_result" %>
			</div>
		</div>
	</div>
	
	<div id="post_content_wrap">
	<p>
	  
		<div class="post_content">
	  <%= @post.content.html_safe %>
		</div>
	</p>

	<p>
	  <b>User:</b>
	  <%= @post.user_id %>
	</p>


	<%= link_to 'Edit', edit_post_path(@post) %>
	
	<h1>Listing tags</h1>

	<table>
	  <tr>
	    <th>Name</th>
	    <th></th>
	  </tr>

	<% @tags.each do |tag| %>
	  <tr>
	    <td><%= tag %></td>
	  </tr>
	<% end %>
	</table>

	<br />
	</div>
</article>

<section id="comments">
	<!-- Comments -->
	<header>
	<h1>Commentaires</h1>
	</header>
	
	<div id="display_comments" data-displayed-comments=<%= @displayed_comments %>>
	
		<%= display_comments(@comments) %>
	</div>


	<br />

	<% if @remaining_comments != 0 %>
	<%= link_to "Voir plus de commentaires", show_more_comments_path(@post, :displayed_comments => @displayed_comments), :id => "show_more_comments_link", :method => :post, :remote => true %>
	<% end %>


	<!-- New comment -->



	<div id="wrap_form_new_comment">
	
		<%= render 'comments/form' %>

	</div>
</section>


