<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cached slug</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr class="category_raw" id="<%= category.id %>">
    <td><%= category.name %></td>
    <td><%= category.cached_slug %></td>
    <td><%= link_to 'Edit', edit_category_path(category), :class => "edit_category_link fancybox.ajax" %></td>
    <td><%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete, :remote => true %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to "Créer une nouvelle catégorie", new_category_path, :class => "new_category_link fancybox.ajax" %>
