<table>
	<tr>
		<th>User ID</th>
	    <th>User email</th>
	    <th>role</th>
	    <th></th>
	    <th></th>
		<th></th>
	  </tr>
	<% @users.each do |user| %>
	  <tr id="user_<%= user.id %>">	
	    <td><%= user.id %></td>
	    <td><%= user.email %></td>
	    <td><%= user.role %></td>
	    <td><% if can? :edit, :admin_registration %><%= link_to 'Edit', admin_edit_user_registration_path(user), :class => "admin_edit_user_registration_link fancybox.ajax" %><% end %></td>
	    <td><% if can? :destroy, :admin_registration %><%= link_to 'Destroy', admin_destroy_user_registration_path(user), :confirm => 'Are you sure?', :remote => true, :method => :delete %><% end %></td>
	  </tr>
	<% end %>
</table>
