<% javascript 'layouts/form.js', 'layouts/sources.js' %>


<header>
	<div class="left">
		<div class="etiquette">Astuce</div>
		<div class="date">
			<span class="day"><%= Time.now.strftime("%d") %></span>
			<span class="month"><%= getMonthFromNumber(Time.now.strftime("%m")) %></span>
			</br>
			<span class="year"><%= Time.now.strftime("%Y") %></span>
		</div>
	</div>
	<div class="right">
		<div class="written_by"><span>écrit par</span> <%= (@tip.user.email if @tip.user) || current_user.email %></div>
		
		<%= render "layouts/presentation_picture_form" %>
		
		<%= simple_form_for(@tip, :validate => true, :html => { :multipart => true }) do |f| %>
		<%= f.input :presentation_picture_id, :label => false, :input_html => {:id => "presentation_picture_id", :value => (@tip.presentation_picture.id if !@tip.presentation_picture.blank?) } %>
		
		<fieldset class="title">
			<label>Titre*</label>
			<div>
				<%= f.input :title, :label => false, :as => :text, :wrapper => false, :input_html => {:class => "char_count", 'original-title' => "100 caractères maximum"} %>
				<span class="counter"></span>
			</div>
		</fieldset>
		
		
		<fieldset>
			<label>Description*</label>
			<div>
				<%= f.input :description, :label => false, :wrapper => false, :input_html => {'original-title' => "Décrivez ici votre astuce"} %>
			</div>
		</fieldset>
		
		<%= render 'categories/category_list_checkboxes', :f => f %>
				
		<%= render 'layouts/sources_form', :f => f, :model_var => @tip %>
		<%= f.button :submit %>
	</div>
</header>
	
    
<% end %>
