<% @tips.each do |tip| %>
<article id="tip_<%= tip.id %>">

	<div class="tip_left">
		<div class="tip_image"><%=  %></div>
		<div class="tip_date"><span class="day"><%= tip.created_at.strftime("%d") %></span><span class="month"><%= getMonthFromNumber(tip.created_at.strftime("%m")) %></span></br><span class="year"><%= tip.created_at.strftime("%Y") %></span></div>
	</div>
	<div class="tip_content">
		<header>
	    	<h1><%= tip.title %></h1>
			<span>écrit par</span> <%= tip.user.email %>
		</header>
	    <div class="description"><%= raw(tip.description) %></div>
	    <%= link_to 'Voir', tip %>
	    <% if can? :edit, tip %><%= link_to '| Éditer', edit_tip_path(tip) %><% end %>
	    <% if can? :destroy, tip %><%= link_to '| Supprimer', tip, :confirm => 'Are you sure?', :method => :delete %><% end %>
	</div>
</article>
<% end %>