<article id="tip" class="show">
	<header>
		<div class="left">
			<div class="etiquette">Astuce</div>
			<div class="date">
				<span class="day"><%= @tip.created_at.strftime("%d") %></span>
				<span class="month"><%= getMonthFromNumber(@tip.created_at.strftime("%m")) %></span>
				</br>
				<span class="year"><%= @tip.created_at.strftime("%Y") %></span>
			</div>
		</div>
		<div class="right" <%= ("style='width:30em'" if !@tip.has_big_picture) %>>
			<h1><%= @tip.title %></h1>
			<div class="written_by"><span>écrit par</span> <%= @tip.user.email %></div>
			<div class="categories">Catégories: 
				<% @categories.each do |category| %>
					<span><%= category.name %></span>
				<% end %>
			</div>
		</div>
		<% if !@tip.has_big_picture %>
			<div id="small_picture">
				<%= image_tag @tip.picture.url(:thumb) %>
			</div>
		<% end %>
	</header>
	<div id="left_bar">
		<div id="share">
			<div id="vote">
				<div id="vote_up">
					<%= link_to(image_tag("thumb_up.png", :width => "29px", :height => "30px"), vote_up_tip_path(@tip), :method => :post, :remote => true) %>
				</div>

				<div id="votes_result">
					<%= render "layouts/votes_result" %>
				</div>
			</div>
		</div>
	</div>
	
	<div id="content_wrap">
	<p>
		<div class="content">
	  <%= simple_format(h @tip.description) %>
		</div>
	</p>

	<%= link_to 'Edit', edit_tip_path(@tip) %>

	<br />
	</div>
</article>

<section id="comments">
	<!-- Comments -->
	<header>
	<h1>Commentaires</h1>
	</header>
	
	<div id="display_comments" data-displayed-comments=<%= @displayed_comments %>>
	
		<%= display_comments(@comments) %>
	</div>


	<br />




	<!-- New comment -->



	<div id="wrap_form_new_comment">
	
		<%= render 'comments/form' %>

	</div>
</section>