<div id="show_right">
	<section id="also_to_read">
		<header>
			<h1 class="red_section">À <span>LIRE AUSSI</span></h1>
		</header>
		<% if @also_to_read_posts.any? %>
		<div class="posts">
			<h1>Articles</h1>
			<% @also_to_read_posts.each do |post| %>
				<article>
					<div><%= image_tag post.picture.url(:thumb) %></div>
					<div>
						<h2><%= truncate(post.title, :length => 55, :separator => ' ') %></h2>
					</div>
				</article>
			<% end %>
		</div>
		<% end %>
		<% if @also_to_read_tips.any? %>
		<div class="tips">
			<h1>Astuces</h1>
			<% @also_to_read_tips.each do |tip| %>
				<article>
					<div>
						<%= image_tag tip.picture.url(:thumb) %>
					</div>
					<div>
						<h2><%= truncate(tip.title, :length => 55, :separator => ' ') %></h2>
					</div>
				</article>
			<% end %>
		</div>
		<% end %>
		<% if @also_to_read_events.any? %>
		<div class="events">
			<h1>Évènements</h1>
			<% @also_to_read_events.each do |event| %>
				<article>
					<div>
						<%= image_tag event.picture.url(:thumb) %>
					</div>
					<div>
						<h2><%= truncate(event.title, :length => 55, :separator => ' ') %></h2>
					</div>
				</article>
			<% end %>
		</div>
		<% end %>
		<% if @also_to_read_product_tests.any? %>
		<div class="product_tests">
			<h1>Avis/Tests</h1>
			<% @also_to_read_product_tests.each do |product_test| %>
				<article>
					<div>
						<%= image_tag product_test.picture.url(:thumb) %>
					</div>
					<div>
						<h2><%= truncate("#{product_test.brand} #{product_test.product_model}", :length => 55, :separator => ' ') %></h2>
					</div>
				</article>
			<% end %>
		</div>
		<% end %>
	</section>
</div>