<ul id="hmenu">
	<li style="margin-top:12px; margin-left:10px"><%= link_to(image_tag("/images/back_to_top.png"), "#top") %></li>
	<li><%= 
			link_to_unless_current(raw("Change"+"&nbsp;&nbsp;"+"ns"), root_path, :class => "changeons ") do
				link_to(raw("Change"+"&nbsp;&nbsp;"+"ns"), root_path, :class => "changeons current")
			end 
		%>
	</li>
	
	<li><%=
			link_to_unless_current("Articles", posts_path, :class => "top_menu") do
				link_to("Articles", posts_path, :class => "current top_menu")
			end
		%>
	</li>

	<li><%=
			link_to_unless_current("Astuces", tips_path, :class => "top_menu") do
				link_to("Astuces", tips_path, :class => "current top_menu")
			end
		%>
	</li>
	
	<li><%=
			link_to_unless_current("Questions/Réponses", questions_path, :class => "top_menu") do
				link_to("Questions/Réponses", questions_path, :class => "current top_menu")
			end
		%>
	</li>
	
	<li><%=
			link_to_unless_current("Évènements", events_path, :class => "top_menu") do
				link_to("Évènements", events_path, :class => "current top_menu")
			end
		%>
	</li>

	<li><%=
			link_to_unless_current("Avis/Tests produits", product_tests_path, :class => "top_menu") do
				link_to("Avis/Tests produits", product_tests_path, :class => "current top_menu")
			end
		%>
	</li>


	
</ul>
<ul id="user_menu_items">
<% if user_signed_in? %>


	
	<% if can? :index, :admin_dashboard %>
	<li>
	<%= link_to('Admin', admin_dashboard_page_path)%>
	</li>
	<% end %>
	
	<li><%=
			link_to_unless_current("Edit registration", edit_user_registration_path) do
				link_to("Edit registration", edit_user_registration_path, :class => "current")
			end
		%>
	</li>


	<li>
	<%= link_to('Logout', destroy_user_session_path) %>        
	</li>
<% else %>
	<li>
	<%= link_to('Register', new_user_registration_path)  %>
	</li>
	<li>
	<%= link_to('Login', new_user_session_path, :remote => true, :class => "fancybox_signin fancybox.ajax")  %>
	</li>
<% end %>
</ul>