<div style="margin: 0 auto;width:1160px">
	<ul id="hmenu">
		<li><%= 
				link_to_unless_current("", root_path, :class => "changeons ") do
					link_to("", root_path, :class => "changeons current")
				end
			%>
		</li>
	
		<li><%=
				link_to_unless_current("Articles", posts_path, :class => "top_menu") do
					link_to("Articles", posts_path, :class => "current top_menu")
				end
			%>
		</li>
		<div class="vertical_rule"></div>
		<li><%=
				link_to_unless_current("Astuces", tips_path, :class => "top_menu") do
					link_to("Astuces", tips_path, :class => "current top_menu")
				end
			%>
		</li>
		<div class="vertical_rule"></div>
		<li><%=
				link_to_unless_current("Questions/Réponses", questions_path, :class => "top_menu") do
					link_to("Questions/Réponses", questions_path, :class => "current top_menu")
				end
			%>
		</li>
		<div class="vertical_rule"></div>
		<li><%=
				link_to_unless_current("Évènements", events_path, :class => "top_menu") do
					link_to("Évènements", events_path, :class => "current top_menu")
				end
			%>
		</li>
		<div class="vertical_rule"></div>
		<li><%=
				link_to_unless_current("Avis/Tests produits", product_tests_path, :class => "top_menu") do
					link_to("Avis/Tests produits", product_tests_path, :class => "current top_menu")
				end
			%>
		</li>
		

	
	</ul>
	
	<div style="float: right;display:inline-block;vertical-align:top;margin:14px 6px 0 10px;">
		<%= link_to(image_tag("/images/back_to_top.png"), "#top", :id => "back_to_top_button" ) %>
	</div>
	<% if user_signed_in? %>
		
		<ul id="user_menu_items">

		<% if can? :index, :admin_dashboard %>
		<li><%=
				link_to_unless_current(("<span class='icon'>Administration</span>").html_safe, admin_dashboard_page_path, :class => "admin") do
				link_to(("<span class='icon'>Administration</span>").html_safe, admin_dashboard_page_path, :class => "current admin")
			end
			%>
		</li>
		<% end %>
		
		<li><%=
				link_to_unless_current(("<span class='icon'>Éditer profil</span>").html_safe, edit_user_registration_path, :class => "edit_profile") do
					link_to(("<span class='icon'>Éditer profil</span>").html_safe, edit_user_registration_path, :class => "current edit_profile")
				end
			%>
		</li>


		<li>
		<%= link_to(("<span class='icon'>Déconnexion</span>").html_safe, destroy_user_session_path, :class => "disconnect") %>        
		</li>
		</ul>
		<div id="connected_user">
			<div><%= link_to(image_tag(avatar_url(current_user, 25), :width => "25", :height => "25"), show_user_profile_path(current_user)) %></div>
			<div class="user_name"><%= link_to truncate(current_user.display_name, :length => 25), show_user_profile_path(current_user) %></div>
		</div>
	<% else %>
		<ul id="account_links">
			<li>
			<%= link_to("Créer un compte", new_user_registration_path)  %>
			</li>
			<li>
			<%= link_to('Se connecter', new_user_session_path, :remote => true, :class => "fancybox_signin fancybox.ajax")  %>
			</li>
		</ul>
	<% end %>

</div>

