<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Changeons</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'fancybox/jquery.fancybox' %>

  <%= javascript_include_tag :defaults, 'fancybox/jquery.easing-1.3.pack', 'fancybox/jquery.fancybox.pack', 'fancybox/jquery.mousewheel-3.0.6.pack', 'rails.validations', :ckeditor %>
  <%= csrf_meta_tag %>
</head>
<body>

	<header>
		<nav>
			<ul id="hmenu">
			<%= render 'layouts/menu_items' %>
			</ul>
		</nav>
	</header>	
		<div id="notice_alert_fields">
			<%= render 'layouts/flash_messages' %>
		</div>
	<div id="main">
		<header id="top_banner">
			<%= image_tag('/images/test_image_top_banner.png', :height => "220px", :width => "980px") %>
			<div id="changeons">Changeons.org</div>
			<div id="eoliennes"></div>
			<div id="grass"></div>
			
		</header>
		<div id="yield">
		<%= yield %>
		</div>
		<div id="right_bar">
			<section id="newsletter_form">
				<ul>
				<%= simple_form_for(@newsletter_subscriber, :validate => true) do |f| %>
				  <%= f.error_notification %>

				  <div class="inputs">
				    <%= f.input :email, :validate => true, :input_html => { :size => 30 }, :label => false %>
				  </div>

				  <div class="actions">
				    <%= f.button :submit %>
				  </div>
				<% end %>	
				</ul>
			</section>
		</div>

	</div>
	<footer>
		<nav>
			<%= render 'layouts/footer_menu_items' %>
		</nav>
	</footer>
</body>
</html>
