<!DOCTYPE html>
<html lang="fr">
<head>
  <title>Changeons</title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag 'fancybox/jquery.fancybox' %>

  <%= javascript_include_tag :defaults, 'fancybox/jquery.easing-1.3.pack', 'fancybox/jquery.fancybox.pack', 'fancybox/jquery.mousewheel-3.0.6.pack', 'rails.validations', :ckeditor %>
  <%= csrf_meta_tag %>
</head>
<body>

	<header id="top_menu">
		<nav>
			
			<ul id="hmenu">
			<%= render 'layouts/menu_items' %>
			</ul>
		</nav>
	</header>
	<div id="main">
		<div id="notice_alert_fields">
			<%= render 'layouts/flash_messages' %>
		</div>
	
		<ul>
		<%= simple_form_for(@newsletter_subscriber, :validate => true) do |f| %>
		  <%= f.error_notification %>

		  <div class="inputs">
		    <%= f.input :email, :validate => true %>
		  </div>

		  <div class="actions">
		    <%= f.button :submit %>
		  </div>
		<% end %>	
		</ul>
	<%= yield %>

	</div>
	<footer>
		All rights reserved © 2012
	</footer>
</body>
</html>
