<!DOCTYPE html>
<html>
<head>
  <title>Changeons</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'jquery.fancybox-1.3.4.pack', 'jquery.easing-1.3.pack', 'rails.validations' %>
  <%= csrf_meta_tag %>
</head>
<body>
	<ul id="hmenu">
		<%= render 'layouts/menu_items' %>
	</ul>
<%= yield %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

</body>
</html>
